body {
    margin: 0;
    color: #2f4858;
    font-family: "Roboto", sans-serif;
}

.logo-small {
    float: left;
    margin-left: 15px;
    margin-top: 10px;
    border-radius: 5px;
    width: 100px;
    height: 100px;
}

.files {
    visibility: hidden;
}

.label {
    /* border: 2px solid #ec7d10; */
    border-radius: 5px;
    outline: none;
    /* white-space: nowrap; */
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    color: #2f4858;
    text-decoration: underline;
}

.label:hover {
    color: #fc2f00;
}

.info-window {
    width: 500px;
    height: 600px;
}
.info-window img {
    width: 300px;
    height: 300px;
}

:root {
    --reach-combobox: 1;
}

[data-reach-combobox-popover] {
    border: solid 1px hsla(0, 0%, 0%, 0.25);
    background: hsla(0, 100%, 100%, 0.99);
    font-size: 85%;
}

[data-reach-combobox-list] {
    list-style: none;
    margin: 0;
    padding: 0;
    user-select: none;
}

[data-reach-combobox-option] {
    cursor: pointer;
    margin: 0;
    padding: 0.25rem 0.5rem;
}

[data-reach-combobox-option][aria-selected="true"] {
    background: hsl(211, 10%, 95%);
}

[data-reach-combobox-option]:hover {
    background: hsl(211, 10%, 92%);
}

[data-reach-combobox-option][aria-selected="true"]:hover {
    background: hsl(211, 10%, 90%);
}

[data-suggested-value] {
    font-weight: bold;
}
